In [27]:
import pandas as pd
from datetime import datetime
 
df2= pd.read_excel('./df_sec2.xlsx')
df2

     Unnamed: 0     Delta     Theta     Alpha      Beta     Gamma  stimulus
0             0  0.811140  0.185111  0.436204  0.539608  0.343961         0
1             1  0.811140  0.185111  0.436204  0.539608  0.343961         0
2             2  0.811140  0.185111  0.436204  0.539608  0.343961         0
3             3  0.811140  0.185111  0.436204  0.539608  0.343961         0
4             4  0.811140  0.185111  0.436204  0.539608  0.343961         0
..          ...       ...       ...       ...       ...       ...       ...
112         112  0.155356  0.164961  0.613637  0.963095  0.643709         0
113         113  0.072422 -0.012797  0.499267  0.766087  0.537207         0
114         114  0.191252  0.083827  0.393126  0.631086  0.623641         0
115         115  0.595058  0.121572  0.392814  0.710240  0.675748         0
116         116  0.772618  0.383502  0.279716  0.724816  0.679578         0

[117 rows x 7 columns]

In [29]:
df2 = df2.drop('Unnamed: 0', axis = 1)

In [30]:
df2

        Delta     Theta     Alpha      Beta     Gamma  stimulus
0    0.811140  0.185111  0.436204  0.539608  0.343961         0
1    0.811140  0.185111  0.436204  0.539608  0.343961         0
2    0.811140  0.185111  0.436204  0.539608  0.343961         0
3    0.811140  0.185111  0.436204  0.539608  0.343961         0
4    0.811140  0.185111  0.436204  0.539608  0.343961         0
..        ...       ...       ...       ...       ...       ...
112  0.155356  0.164961  0.613637  0.963095  0.643709         0
113  0.072422 -0.012797  0.499267  0.766087  0.537207         0
114  0.191252  0.083827  0.393126  0.631086  0.623641         0
115  0.595058  0.121572  0.392814  0.710240  0.675748         0
116  0.772618  0.383502  0.279716  0.724816  0.679578         0

[117 rows x 6 columns]

In [32]:
# # stimulus 시점의 행넘버 리스트에 넣어주기
stimulus_row_num = [] # click 시점의 행넘버
for k in range(len(df2)) : 
    if df2['stimulus'][k] == 1: # stimulus 시점의 행넘버 구하기
        stimulus_row_num.append(k)
print(stimulus_row_num)

[26, 32, 38, 45, 50, 56, 63, 68, 74, 80, 86, 92, 98, 104, 110]

In [34]:
# 빈 데이터프레임 생성.
df_ratio = pd.DataFrame(columns=['ratio_delta','ratio_theta','ratio_alpha','ratio_beta','ratio_gamma','stimulusOrNot'])
# 첫 클릭시점부터 마지막 클릭시점 이후 3초까지 루프 돌면서 증감율 구하기. 0123(클릭)4
for i in range(stimulus_row_num[0]-2, stimulus_row_num[-1]+3):
    stimulusOrNot = 0    
    if i+2 in stimulus_row_num :
        stimulusOrNot = 1
    ref_delta = df2[i:i+2].mean()[0]
    after_delta = df2[i+2:i+4].mean()[0]
    ratio_delta = (after_delta-ref_delta)/ref_delta
    
    ref_theta = df2[i:i+2].mean()[1]
    after_theta = df2[i+2:i+4].mean()[1]
    ratio_theta = (after_theta-ref_theta)/ref_theta
    
    ref_alpha = df2[i:i+2].mean()[2]
    after_alpha = df2[i+2:i+4].mean()[2]
    ratio_alpha = (after_alpha-ref_alpha)/ref_alpha
    
    ref_beta = df2[i:i+2].mean()[3]
    after_beta = df2[i+2:i+4].mean()[3]
    ratio_beta = (after_beta-ref_beta)/ref_beta
    
    ref_gamma = df2[i:i+2].mean()[4]
    after_gamma = df2[i+2:i+4].mean()[4]
    ratio_gamma = (after_gamma-ref_gamma)/ref_gamma
    
    
    df_ratio.loc[i+2]=[ratio_delta,ratio_theta,ratio_alpha,ratio_beta, ratio_gamma, stimulusOrNot]

In [35]:
df_ratio.to_excel('./df_ratio2.xlsx')